<div class="Pokedex" fxLayout="row wrap">
    <mat-card class="pokemon-card" fxFlex="33%" *ngFor="let pokemon of pokedex">
        <mat-card-content>
            <mat-card-title class="poke-header">
                #{{pokemon.DexNum}} {{pokemon.Name}}
            </mat-card-title>
            <table>
                <span class="pic"><img src={{pokemon.ImgURL}}></span>
                <tr class="poke-species">Species: The {{pokemon.Species}}</tr>
                <tr class="poke-type">Type(s): {{pokemon.Element}}  {{pokemon.SecElement}}</tr>
                <tr class="poke-specs">Height: {{pokemon.Height}} and Weight: {{pokemon.Weight}}</tr>
                <tr class="poke-region">Region of Origin: {{pokemon.Region}}</tr>
                <tr class="poke-entry">Pokedex Entry: <br>
                {{pokemon.PkdxEntry}}
                </tr>
            </table>
        <br>
        </mat-card-content>
    </mat-card>
</div>